form.signup,
form.login {
  margin: 0 auto;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 40pt;
  text-align: left;
  color: black;
  
}

h3{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt;
  text-align: left;
  color: black;
  
}

    body{
        background-image: url("https://cdn.pixabay.com/photo/2020/08/18/15/16/coffee-5498486_1280.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-decoration-color: black;
    }