form.signup,
form.login {
  margin-top: 50px;
}

    body{
        background-image: url("Coffee background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-decoration-color: cornsilk;
    }
